.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 2rem 1.5rem;
}

.title {
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 2.8rem;
  
}

/* CARD */
.card {
  background: #ffffff;
  border-radius: 14px;
  padding: 1.2rem;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  transition: all 0.25s ease;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 16px 35px rgba(0, 0, 0, 0.12);
}

/* IMAGE */
.image {
  width: 100%;
  height: 280px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 1rem;
  background-color: #f2f2f2;
}

/* TEXT */
.bookTitle {
  font-size: 1.05rem;
  font-weight: 600;
  margin-bottom: 0.3rem;
}

.author {
  font-size: 0.9rem;
  color: #666;
}

@media screen and (max-width: 768px) {
  .grid {
    padding: 3px 60px;
    gap: 2.5rem;
  }

  .image {
    height: 220px;
  }
}