@import "tailwindcss";

@plugin "tailwindcss-animate";

@font-face {
  font-family: 'Basic';
  src: url('/fonts/Basic-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bayon';
  src: url('/fonts/Bayon-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@theme inline {
  /* BlaBlaBook Colors */
  --color-blabla-dark: #293B47;
  --color-blabla-teal: #2D6A6D;
  --color-blabla-light-blue: #A6C4C7;
  --color-blabla-orange: #E67141;
  --color-blabla-taupe: #978B7B;
  --color-blabla-cream: #F2F1E8;
  
  /* ShadCN Variables (minimum requis) */
  --radius-lg: var(--radius);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
}

:root {
  --radius: 0.625rem;
  --background: #ffffff;
  --foreground: #171717;
  --card: #ffffff;
  --card-foreground: #171717;
  --primary: #293B47;
  --primary-foreground: #ffffff;
  --muted: #f5f5f5;
  --muted-foreground: #737373;
  --destructive: #ef4444;
  --border: #e5e5e5;
  --input: #e5e5e5;
  --ring: #737373;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
}
