.cardContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.contentWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5rem;
    flex: 1;
}

.title {
    font-weight: 900;
    color: black;
    font-size: 1.125rem;
    text-transform: uppercase;
    letter-spacing: -0.025em;
    /* Coupe le texte s'il est trop long sur une ligne */
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.author {
    font-size: 0.875rem;
    color: #4b5563;
    font-weight: 500;
    text-transform: lowercase;
    font-style: italic;
}

.infoGroup {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.75rem;
    margin-top: 1rem;
}

.date {
    font-size: 0.75rem;
    color: #9e9e9e; 
}

.actionsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    padding-right: 1.5rem;
    flex-shrink: 0;
}

.buttonGroup {
    display: flex;
    align-items: center;
    justify-content: flex-end; 
}

.deleteBtn {
    color: #cbd5e1;
    transition: color 0.2s ease;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.deleteBtn:hover {
    color: #ef4444;
}

.detailsLink {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    color: #1e293b;
    font-weight: 700;
    text-decoration: none;
    transition: transform 0.2s ease;
}

.detailsLink:hover {
    transform: translateX(4px);
}

.detailsText {
    font-size: 1.125rem;
}

/* RESPONSIVE */
@media (max-width: 640px) {
    .cardContainer {
        height: auto;
    }

    .contentWrapper {
        padding: 1rem;
    }

    .title {
        font-size: 1rem;
    }
    
    .actionsContainer {
        padding-right: 1rem;
    }
}