body {
  background: #F2F1E8;

  margin: 0;
  padding: 0;
}
.container {
  max-width: 1100px;
  margin: 90px auto;
  padding: 20px;
}



/* LEFT SIDE */
.contactInfo {
  background: linear-gradient(135deg, var(--primary), #56ccf2);
  color: white;
  padding: 50px 40px;
  border-radius: 12px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contactInfo h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.contactInfo p {
  margin-bottom: 30px;
  opacity: 0.9;
}

.infoItem {
  margin-bottom: 20px;
}

.infoItem strong {
  display: block;
  font-weight: 600;
}

/* RIGHT SIDE */
.contactForm {
  padding: 50px 40px;
}

.contactForm h2 {
  margin-bottom: 25px;
  font-size: 26px;
}

.formGroup {
  margin-bottom: 18px;
}


/* RESPONSIVE */
/* ========== MOBILE (max-width: 768px) ========== */
@media (max-width: 768px) {

  .container {
    margin: 25px auto;
    padding: 15px;
  }

  .contactWrapper {
    grid-template-columns: 1fr; 
  }


  .contactInfo {
    padding: 3px 50px;
    text-align: center;
    align-items: center;
  }

  .contactInfo h2 {
    font-size: 22px;
  }

  .contactInfo p {
    font-size: 14px;
  }

  .infoItem {
    margin-bottom: 15px;
    font-size: 14px;
  }
}

