body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #FDFBF7;
}

/* HEADER 
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 40px;
    border-bottom: 1px solid #eee;
}

.logo {
    font-size: 20px;
    font-weight: bold;
}

.logo span {
    margin-left: 6px;
}

.nav {
    display: flex;
    gap: 25px;
    align-items: center;
}

.nav a {
    text-decoration: none;
    color: #333;
}

.user {
    font-weight: bold;
}
    
*/

/* MAIN */
.container {
    /* max-width: 1100px; */
    margin: 30px auto;
    padding: 0 20px;
}

.breadcrumb {
    font-size: 14px;
    color: #777;
    margin-bottom: 20px;
}

/* BOOK CARD */
.book-card {
    border-radius: 12px;
    padding: 25px;
    display: flex;
    gap: 30px;
    border: 2px solid rgba(151, 139, 123, 0.2);
}

.book-card img {
    border-radius: 10px;
    width: 200px;
    height: auto;
}

.book-info {
    flex: 1;
}

.title-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-row h1 {
    font-size: 28px;
    letter-spacing: 1px;
}

.heart {
    font-size: 22px;
    cursor: pointer;
}

.author {
    margin: 10px 0;
    font-size: 16px;
    color: #555;
}

.rating {
    margin: 10px 0 20px;
    color: #f39c12;
}

.rating span {
    color: #555;
    margin-left: 8px;
}

.actions {
    display: flex;
    align-items: center;
    gap: 15px;
}

.actions button {
    padding: 8px 16px;
    border-radius: 20px;
    border: 1px solid #aaa;
    background: #fff;
    cursor: pointer;
}

.actions button:hover {
    background: #f5f5f5;
}

.added {
    font-size: 14px;
    color: #777;
}

/* DESCRIPTION */
.description {
    margin-top: 30px;
    padding: 25px;
    border-radius: 12px;
    border: 2px solid rgba(151, 139, 123, 0.2);
}

.description h2 {
    margin-bottom: 15px;
}

.description p {
    line-height: 1.6;
    color: #444;
}

/* FOOTER
.footer {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    margin-top: 50px;
    background: #fff;
    border-top: 1px solid #eee;
}

.footer-col {
    max-width: 300px;
}

.footer-col h4 {
    margin-bottom: 10px;
}

.footer-col a {
    display: block;
    text-decoration: none;
    color: #444;
    margin-bottom: 6px;
    font-size: 14px;
}

.footer-col p {
    font-size: 14px;
    color: #666;
}

copyright {
    text-align: center;
}

/* COPYRIGHT 
.copyright {
    text-align: center;
    font-size: 13px;
    color: #777;
    margin: 20px 0;
} */
